.Tabs{
    /* margin-top: 10%; */
    background-color: black;
    color:aliceblue;  
    position: relative;
    /* max-width: 320px;*/
    /* max-height: 600px;  */
    font-family: "Silkscreen";
    /* margin-left: 40%; */
}

.bg-frame{
   /* margin-top: 10%; */
    /* background-image:url('../assets/BOX.png') ; */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: "Silkscreen"; 
    color: aliceblue; 
}


a{
    text-decoration: none;
    color: aliceblue;
}

.TabPanel{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    max-height: 580px;
    overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
    border: 1px white;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

input::placeholder {
    border: 1px;
    border-color: black;
    font-family: "Silkscreen";
}
.searchButton{
    font-family: "Silkscreen";
}
.pokemoncontainer{
    width: 200px;
    height: 200px;
}
.pokeball{
    width: 8%;
}

.exitButton{
    font-family: "Silkscreen";
    color: aliceblue;
    background-color: black;
    border: solid 1px white;
}

@media only screen and (max-width: 1230px) {
    .TabPanel{
        max-height: 300px;
    }
}

@media only screen and (max-width: 480px) {
    .TabPanel{
        max-height: 500px;
    }
}